@font-face {
    font-family: cairo ;
    src: url("../../public/fonts/cairoFont/Cairo-Regular.ttf");
    weight: 400;
}
@font-face {
    font-family: cairo ;
    src: url("../../public/fonts/cairoFont/Cairo-Regular.ttf");
    weight: 500;
}
@font-face {
    font-family: cairo ;
    src: url("../../public/fonts/cairoFont/Cairo-Regular.ttf");
    weight: 500;
}