*{
    color: white;
    text-transform: capitalize;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info h1{
    font-weight: 500;
    letter-spacing: 3px;
}
.info .date{
    font-size: 12px;
}